<div class="cover">
  <img src="pictures/backgrounds/background-1.jpg" alt="" sizes="100vw">

  <div class="cover-action">
    <LinkTo @route="add-gig" class="btn btn-primary">Add Gig</LinkTo>
  </div>
</div>

<section class="gig-list">
  <h2>
    Gigs in Bern
    <small><a href="#">change location</a></small>
  </h2>

  {{#each this.model as |gig|}}
    <a href="#">
      <article class="gig-box">
        <img src={{gig.image}} alt="">
        <div class="gig-box-caption">
          <header>{{gig.title}}</header>
          <time>{{gig.date}}</time>
          <p>{{gig.where}}<small> - {{gig.city}}</small></p>
        </div>
      </article>
    </a>
  {{/each}}
</section>
